/* App.css file */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.app {
  display: flex;
}

.main-content {
  margin-left: 200px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the left */
  justify-content: flex-start; /* Aligns content to the top */
  min-height: 100vh; /* Ensures the page takes up the full height */
}